html{
	height: 100%;
}
body{
	background-color: #222b28;
	 overflow-y: scroll;
	 height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

header {
	padding: 2em;
	font-family: 'Merriweather', serif;
	color: #faeaa3;
}

header h1 {
	font-size: 300%;
}

header h2{
	font-size: 200%;
}

#navbar{
	padding: 0.5em;
	background-color:	#6d6f4f;
	border-style:solid;
	border-color: #222b28;
	border-width: thin;
}

#navbar ul{
	overflow-y: hidden;
}

#navbar li {
	font-size: 150%;
	display: inline !important;
	float: left;
	display: block;
	padding: 0.5em;
}

#navbar a {
	color: #faeaa3;
	padding: 0.8em;
	border-radius: 1em;
}

#navbar li a:hover {
  background-color: #494c37;
}

.main{
	float: left;
}

article{
	margin: 5em;
	margin-top: 2em;
	width: 75em;
	background-color:  #6d6f4f;
	padding: 2em;
	border-radius: 1em;
}

article section{
	margin-top: 2em;
	margin-bottom: 2em;
	border-style:solid;
	border-color: black;
	border-width: thin;
	padding: 0.5em;
	border-radius: 1em;
	background-color:  #948c6c;
}

h3{
	font-size: 200%;
	padding-bottom:0.2em;
	font-weight: bold;
}
section h3{
	font-size: 300%;
}
h4{
	font-size: 175%;
}

.nopad{
	margin-top: 0;
	margin-bottom: 0;
}

aside{
	text-align: center;
	float: right;
	position: relative;
	right: 10em;
	margin-top: 2em;
	border-style:solid;
	border-color: black;
	border-width: thin;
	border-radius: 1em;
	background-color: #6d6f4f;
	padding: 2em;
}

aside section{
	border-style:solid;
	border-color: black;
	border-width: thin;
	padding: 0.5em;
	border-radius: 1em;
	background-color: #948c6c;
}

aside section form {
	padding: 0;
	margin: 0;
}

footer{
	margin-top: 50em;
	position: sticky;
	top: 0em;
  width: 100%;
	background-color: black;
	color: #f5e9b8;
	height: 100;
	float: left;
	margin-top: 0em;
	background-image: url("footer.png");/* image from https://www.wallpaperflare.com/minimalist-background-wallpaper-mhsjt*/
}

.footer{
	background-color: black;
	padding: 1em;
	opacity: 0.6;

}
footer h3,footer p{

	opacity: 1;
}

.main a,label{
	font-size: 140%;
}


section ul,p{
	font-size: 170%;
}
.square{
	list-style-type: square !important;
	list-style-position: inside;
}
.square a{
	color:black;
}

.square a:hover{
	color:#faeaa3;
}

#portfolio a{
	font-size: 100% !important;
}
.button{
	background-color: #3b4430;
	border: none;
	color: white;
	padding: 1.5em 2.5em;
	text-align: center;
	margin: 1em;
	cursor: pointer;
	border-radius: 1em;
	color: 	#e1ebab;
	font: 400 13.3333px Arial; /*match the input type login font*/
}

.middle{
	position: relative;
	left: 30%;
	margin: 0.5em;

}
#blogbody{
	font-size:150%;
	width: 24.5em;
	height: 700%;
	resize: none;
	overflow: hidden;

}
#blogtitle{
	width: 20em;
	font-size:150%;

}

.postmiddle{
	position: relative;
	left: 3.75%;
}

#add{
	position: relative;
	left: 5%;
	margin: 0.5em;
	margin-left: 0;
	font-family: "DejaVu Sans Mono", monospace;
}

.highlight::placeholder{
	color: red;
	opacity: 0.7;
}

.hidden{
	display: none;
}
.container{
	min-height: 100%;
}

hr{
	width: 30em;
	position: relative;
	right: 21.5em;
	border: 0.1em solid #6d6f4f;
}

#newentry{
	padding:1.25em;
	position: relative;
	top:2.3em;
	font-size: 100%;

}
.time{
	display: block;
	position: relative;
	left: 61em;
	font-size: 100%;
	margin-top: 0.5em;
	margin-left: 0.5em;
}
.title{
	position: relative;
	bottom: 0.7em;
	font-size: 200%;
	font-style:italic;
}
i{
	margin: 0.5em;
}
.date{
	position: relative;
	left: 47em;
}

#NOENTRY{
	font-size: 400%;
	font-weight: bold;
	text-align: center;
	padding: 1em;
}

#edit{
	position:relative;
	left:40em;
}

#titlepreview{
	font-weight: bold
}
