body{
	background-image: url("background.png");
	 background-repeat: no-repeat;
	 background-size: cover;
	 overflow-y: scroll;
	 height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

header {
	padding: 2em;
	font-family: 'Merriweather', serif;
	color: #faeaa3;
}

header h1 {
	font-size: 300%;

}

header h2{
	font-size: 200%;

}

#navbar{
	padding: 0.5em;
	background-color:	#6d6f4f;
	border-style:solid;
	border-color: #222b28;
	border-width: thin;
}

#navbar ul{
	overflow-y: hidden;
}

#navbar li {
	font-size: 150%;
	display: inline !important;
	float: left;
	display: block;
	padding: 0.5em;
}

#navbar a {
	color: #faeaa3;
	padding: 0.8em;
	border-radius: 1em;

}

#navbar li a:hover {
  background-color: #494c37;
}


.main{
	float: left;
}

article{
	margin: 5em;
	margin-top: 2em;
	width: 75em;
	background-color:  #6d6f4f;
	padding: 2em;
	border-radius: 1em;
}

article section{
	margin-top: 2em;
	margin-bottom: 2em;
	border-style:solid;
	border-color: black;
	border-width: thin;
	padding: 0.5em;
	border-radius: 1em;
	background-color:  #948c6c;
}

h3{
	font-size: 175%;
	padding-bottom:0.2em;
	font-weight: bold;

}

.nopad{
	margin-top: 0;
	margin-bottom: 0;
}

aside{
	float: right;
	position: relative;
	right: 10em;
	margin-top: 2em;
	border-style:solid;
	border-color: black;
	border-width: thin;
	border-radius: 1em;
	background-color: #6d6f4f;
	padding: 2em;
}

aside section{
	border-style:solid;
	border-color: black;
	border-width: thin;
	padding: 0.5em;
	border-radius: 1em;
	background-color: #948c6c;
}

aside section form {
	padding: 0;
	margin: 0;
}

footer{
	margin-top: 50em;
	position: sticky;
	top: 0em;
  width: 100%;*/
	background-color: black;
	color: #faeaa3;
	opacity: 0.5;
	height: 100;
	float: left;
	margin-top: 0em;

}
.footer{
	background-color: black;
		padding: 1em;
}



.main a, p, section ul,label{
	font-size: 140%;
}
.square{
	list-style-type: square !important;
	list-style-position: inside;
}
